:root {
    --gris: rgba(255, 255, 255, .3);
    --gris-clair: rgba(255, 255, 255, .5);
    --input: #bda7eb;
    --shadow: rgba(0, 0, 0, .2);
    --bleu-table: #6495ed;
    --deg1: #da429f;
    --deg2: #092eef;
    --error: #be0000;
    --success: limegreen;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: repeating-linear-gradient(85deg, var(--deg1), var(--deg2)) fixed;
    font-family: arial, sans-serif;
}
.titre{
    font-size: 2rem;
    padding-top: 8rem;
}
.box {
    width: 40rem;
    font-size: 1.4rem;
    background: var(--gris);
    box-shadow: 50px 50px 30px -8px var(--shadow);
    padding: 8.5rem 8.5rem 8.5rem 8.5rem;
    margin-top: 6rem;
    padding: 5rem;
    border-left: 6px solid var(--gris);
    border-top: 6px solid var(--gris);
    border-right: 6px solid var(--gris);
    border-bottom: 6px solid var(--gris);
    border-radius: 60px;
}


.form-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}


button {
    font-size: 1.7rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all 0.0s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    cursor: pointer;
    padding: 1.7rem;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    margin: 30px;
}

button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all 0.0s;
}

button:hover::after {
    transform: rotate(140deg);
}

button:hover {
    transform: translate(0,-6px);
    border-radius: 35px;
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}


.btn {
    border-top: 6px;
    font-family: arial;
    letter-spacing: 2px;
    font-size: 22px;
    background: #fc5185;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px 24px;
    box-shadow: 0 0 60px -10px #CD106E;
    transition: all .3s;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 8px 65px -5px #CD106E;
}




