:root {
    --gris: rgba(255, 255, 255, .3);
    --gris-clair: rgba(255, 255, 255, .5);
    --input: #bda7eb;
    --shadow: rgba(0, 0, 0, .2);
    --bleu-table: #6495ed;
    --deg1: #da429f;
    --deg2: #2f52ff;
}

html {
    height: 100%;
}

body {
    display: flex;
    padding-top: 8rem;
    justify-content: center;
    text-align: center;
    background: repeating-linear-gradient(45deg, var(--deg1), var(--deg2)) fixed;
    font-family: arial, sans-serif;
}


.box {
    width: 20rem;
    background: var(--gris);
    box-shadow: 50px 50px 40px -6px var(--shadow);
    padding: 3rem 3rem 2.5rem 3rem;
    margin-top: 3rem;
    border-left: 3px solid var(--gris);
    border-top: 3px solid var(--gris);
    border-radius: 40px;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.pops {
    margin-top: 4rem;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 0;
    height: auto;
    text-align: left;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input:not(:last-child) {
    margin-bottom: 1rem;
}

/* a l'intérieur du rectangle du formulaire */
input {
    background: var(--input);
    border: 2px solid var(--gris-clair);
    padding: 1rem;
    outline: none;
    border-radius: 50px;
}

input:hover, input:focus {
    background: rgba(200, 125, 205, 0.5);
    transition: all .3s;
}

/* Cacher les flèches de l'input number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Cacher les flèches de l'input number*/
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button, select, .button {
    background: var(--input);
    border: 2px solid var(--gris-clair);
    padding: 1rem;
    border-radius: 50px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover:enabled, select:hover, .button:hover {
    background: rgba(205, 220, 55, 0.7);
    transition: all .3s;
}

button:disabled {
    cursor: not-allowed;
}

option {
    background: white;
}

.popButton {
    text-decoration: none;
    padding: 8px;
    background-color: rgba(41, 168, 241, 0.5);
    border-radius: 20px;
    color: white;
    border: 2px solid var(--gris-clair);
    cursor: pointer;
}

.popButton:hover {
    background: rgba(207, 218, 57, 0.733) !important;
    transition: all .3s;
}

.info {
    font-weight: 500;
    opacity: .7;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px var(--shadow);
}

.success {
    color: limegreen;
}

.error {
    color: #be0000;
}

.result {
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px var(--shadow);
}

table {
    margin: auto;
    border: 2px solid var(--bleu-table);
    color: white;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    border-spacing: 0;
}

thead {
    font-size: 1.5rem;
}

td, th {
    border: 2px solid var(--bleu-table);
    padding: 8px;
}