*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #131416!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 600px;
    height: 500px;
    background: rgb(31,31,3)!important;
    position: relative;
    border-radius: 3%;
    border: 7px solid rgb(224, 221, 221);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.box::before,.box::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    background:linear-gradient(45deg,
    #ff0000,#00f0f0,#00ff00,#0000ff,
    #ff0000,#00f0f0,#00ff00,#0000ff,
    #f00f0f);
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.05);
    animation: animate 20s infinite;
}

.box::after{
    filter: blur(200px);
}
.box::before{
    filter: blur(20px);
}
@keyframes animate {
    0%{background-position: 0 0;}
    50%{background-position: 300% 0;}
    100%{background-position: 0 0 ;}
}


.titre{
    color: rgba(240, 248, 255, 0.63);
    text-align:center;
    font-family: arial, sans-serif;
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 2.2rem;
}
.text{
    text-align:center;
    font-family: arial, sans-serif;
    font-size: 1.7rem;
    padding-top: 1rem;
    -webkit-text-fill-color: transparent!important;
    -webkit-background-clip: text!important;
}
.boutonAccueil{
    justify-content:center;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 25px auto;
}


.innerbox {
    background: rgb(31, 31, 3);
    height: 100%;
    width: 100%;
    border-radius: 1.8%;
}
#notification {
    position: fixed;
    bottom: -8rem;
    color: #ff4754;
    background: #000;
    font-size: 1.7rem;
    font-family: arial, sans-serif;
    padding: 1.2rem 2.4rem;
    border-radius: 0.3rem;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}
#notification.show {
    bottom: 2rem;
}